.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between !important;
}

.app-header {
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 85px;
  // width: 75%;
  margin-left: 10%;
  justify-content: space-between;
  z-index: 100;

  .header-btn {
    margin-right:10%;
    padding: 14px 28px;
    border: 1px solid white;

    .header-btn-text {
      width: 8.625rem;
      height: 1.125rem;
      font-family: HelveticaNeue;
      font-size: 0.938rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
    }
  }
}

.app-logo {
  width: 4.728rem;
  height: 2.363rem;
  //margin: 0 44.043rem 15.958rem 0.166rem;
  object-fit: contain;
  //background-color: #fff;
}

.menu-item-container {
  // padding-top: 10%;
  padding-bottom: 16px;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  left: 0;
  right: 0;
  // width: 75%;
  margin-left: 10%;
  margin-top: 5%;
  .item-text {
    font-family: HelveticaNeue;
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #fff;
  }

  .selected {
    color: #ffc001;
  }
}

.marquee-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
    left: 0;
    right: 0;
    margin-left: 20%;
    margin-bottom: 8%;
    margin-right: 10%;
    justify-content: space-around;

    // width: 60%;
    // margin: 0 auto;
    .heading-container {
      // padding-right: 5%;
      // padding-bottom: 5% ;
      width: 75%;
      margin-right:2%
    }

    .sub-heading-container {
      // padding-bottom: 5%;
      width: 25%;
      margin-left: 2%;

    }
  }
  .heading {
    font-family: HelveticaNeue;
    font-size: 2.25rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2.2px;
    color: #fff;
  }

  .sub-heading {
    font-family: HelveticaNeue;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #fff;
  }
}

.cta-container {
  left: 0;
  right: 0;
  // width: 75%;
  height: 20%;
  margin: 10% 10% 0% 10%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0px;
  padding: 2%;
  .cta-text {
    font-family: HelveticaNeue;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.63px;
    color: #000000;
  }

  .cta-btn-text {
    width: 16.454rem;
    height: 1.25rem;
    // margin: 0.063rem 0;
    font-family: HelveticaNeue;
    font-size: 0.688rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.82;
    letter-spacing: 1px;
    color: #000000;
  }

  .cta-arrow {
    margin-left: 5px;
    height:1.25rem ;
    width: 3rem;
    object-fit: cover;
  }

  .flex-one {
    display: flex;
    flex: 1;
  }
}

.justify-center {
  justify-content: center !important;
}

@media screen and (max-width:900px){

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .justify-space-between {
    justify-content: space-between !important;
  }
  
  .app-header {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 85px;
    // width: 75%;
    margin-left: 10%;
    justify-content: space-between;
    z-index: 100;
  
    .header-btn {
      margin-right:10%;
      padding: 14px 28px;
      border: 1px solid white;
  
      .header-btn-text {
        width: 8.625rem;
        height: 1.125rem;
        font-family: HelveticaNeue;
        font-size: 0.938rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
      }
    }
  }
  
  .app-logo {
    width: 4.728rem;
    height: 2.363rem;
    //margin: 0 44.043rem 15.958rem 0.166rem;
    object-fit: contain;
    //background-color: #fff;
  }
  
  .menu-item-container {
    padding-top: 2%;
    padding-bottom: 16px;
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    left: 0;
    right: 0;
    // width: 75%;
    margin-left: 10%;
    margin-top: 10%;
    .item-text {
      font-family: HelveticaNeue;
      font-size: 0.875rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.86;
      letter-spacing: normal;
      color: #fff;
    }
  
    .selected {
      color: #ffc001;
    }
  }
  
  .marquee-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10%;
      left: 0;
      right: 0;
      margin-left: 20%;
      margin-bottom: 8%;
      margin-right: 10%;
      justify-content: space-around;
  
      // width: 60%;
      // margin: 0 auto;
      .heading-container {
        // padding-right: 5%;
        // padding-bottom: 5% ;
        width: 75%;
        margin-right:2%
      }
  
      .sub-heading-container {
        // padding-bottom: 5%;
        width: 25%;
        margin-left: 2%;
  
      }
    }
    .heading {
      font-family: HelveticaNeue;
      font-size: 2.25rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: -2.2px;
      color: #fff;
    }
  
    .sub-heading {
      font-family: HelveticaNeue;
      font-size: 0.875rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.86;
      letter-spacing: normal;
      color: #fff;
    }
  }
  
  .cta-container {
    left: 0;
    right: 0;
    // width: 75%;
    height: 20%;
    margin: 10% 10% 0% 10%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
    padding: 2%;
    .cta-text {
      font-family: HelveticaNeue;
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: -0.63px;
      color: #000000;
    }
  
    .cta-btn-text {
      width: 16.454rem;
      height: 1.25rem;
      // margin: 0.063rem 0;
      font-family: HelveticaNeue;
      font-size: 0.688rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.82;
      letter-spacing: 1px;
      color: #000000;
    }
  
    .cta-arrow {
      margin-left: 5px;
      height:1.25rem ;
      width: 3rem;
      object-fit: cover;
    }
  
    .flex-one {
      display: flex;
      flex: 1;
    }
  }
  
  .justify-center {
    justify-content: center !important;
  }
  
}


@media screen and (max-width:600px){

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .justify-space-between {
    justify-content: space-between !important;
  }
  
  .app-header {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 85px;
    // width: 75%;
    margin-left: 10%;
    justify-content: space-between;
    z-index: 100;
  
    .header-btn {
      margin-right:10%;
      padding: 14px 28px;
      border: 1px solid white;
  
      .header-btn-text {
        width: 8.625rem;
        height: 1.125rem;
        font-family: HelveticaNeue;
        font-size: 0.938rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
      }
    }
  }
  
  .app-logo {
    width: 4.728rem;
    height: 2.363rem;
    //margin: 0 44.043rem 15.958rem 0.166rem;
    object-fit: contain;
    //background-color: #fff;
  }
  
  .menu-item-container {
    padding-top: 2%;
    padding-bottom: 16px;
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    left: 0;
    right: 0;
    // width: 75%;
    margin-left: 10%;
    margin-top: 17%;
    .item-text {
      font-family: HelveticaNeue;
      font-size: 0.875rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.86;
      letter-spacing: normal;
      color: #fff;
    }
  
    .selected {
      color: #ffc001;
    }
  }
  
  .marquee-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25%;
      left: 0;
      right: 0;
      margin-left: 25%;
      margin-bottom: 8%;
      margin-right: 10%;
      justify-content: flex-start;
  
      // width: 60%;
      // margin: 0 auto;
      .heading-container {
        width: 75%;
        // height: 65%;
        margin-right: 0%;
      }
  
      .sub-heading-container {
        // padding-bottom: 5%;
        width: 75%;
        // height: 50%;
        margin-left: 2%;
  
      }
    }
    .heading {
      font-family: HelveticaNeue;
      font-size: 1.75rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: -2.2px;
      color: #fff;
    }
  
    .sub-heading {
      font-family: HelveticaNeue;
      font-size: 0.875rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.86;
      letter-spacing: normal;
      color: #fff;
    }
  }
  
  .cta-container {
    left: 0;
    right: 0;
    // width: 75%;
    height: 20%;
    margin: 10% 10% 0% 10%;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
    padding: 2%;
    .cta-text {
      font-family: HelveticaNeue;
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: -0.63px;
      color: #000000;
    }
  
    .cta-btn-text {
      width: 16.454rem;
      height: 1.25rem;
      // margin: 0.063rem 0;
      font-family: HelveticaNeue;
      font-size: 0.688rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.82;
      letter-spacing: 1px;
      color: #000000;
    }
  
    .cta-arrow {
      margin-left: 5px;
      height:1.25rem ;
      width: 3rem;
      object-fit: cover;
    }
  
    .flex-one {
      display: flex;
      flex: 1;
    }
  }
  
  .justify-center {
    justify-content: center !important;
  }
  
}
